# Node.js
node_modules/

# dotenv environment variable files
.env

# Redis
dump.rdb

# Miscellaneous
package-lock.json
.DS_Store
*.swp
*~

files_manager/
image.png
image_upload.py
red.txt
test/
new_image.png
